.mainDiv {
    width: 100%;
    background-color: black;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.logo-section h1 {
    color: white;
    font-size: 1.2rem;
}

.link-section {
    height: 100%;
    background-color: red;
    align-items: center;
    padding: 0;
    margin-right: 5rem;
}

.links-container {
    display: flex;
    gap: 1rem; /* Espaço entre os links */
    height: auto; /* Altura automática */
}

.link-wrapper {
    height: auto; /* Ajusta a altura dos links no dropdown */
}

.links {
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}

.link-wrapper:hover .links {
    background-color: white;
    color: black;
}

/* Ícone do menu (hambúrguer) para mobile */
.menu-icon {
    display: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}

/* Estilos para mobile */
@media (max-width: 768px) {
    .links-container {
        flex-direction: column;
        position: absolute;
        top: 3.7rem; 
        right: 0;
        background-color: red;
        width: 100%;
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.5s ease-in-out; 
    }

    .link-section.active .links-container {
        max-height: 300px; 
    }

    .logo-section h1 {
        display: none; 
    }

    .menu-icon {
        display: block; 
        margin-left: 70vw;
    }

    .link-section {
        margin-right: 0;
        background-color: transparent;
    }

    .links {
        padding: 1rem 0; 
        padding-left: 3vh;
        text-align: center;
        width: 100%; 
    }
}
